@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@splidejs/react-splide/css';
@import 'react-tooltip/dist/react-tooltip.css';
@import 'rodal/lib/rodal.css';

::selection {
  background-color: rgba(174,198,112,0.6);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Alumni Sans", "sans-serif";
  font-size: 16px;
}

.calculator {
  height: calc(100vh - 60px);
  min-height: 780px;
}

.books-gallery .splide__slide {
  transition: transform 0.5s ease-in;
}

.books-gallery .splide__list {
  position: relative;
  left: -45px;
}

.books-gallery .splide__slide > div {
  transition: transform 0.5s ease-in;
}

.books-gallery .splide__slide.is-active > div {
  transform: scale(1.33);
}

.books-gallery .splide__slide.is-active{
  margin-right: 80px!important;
  margin-left: 45px;
  z-index: 5;
}


.books-gallery .splide__slide.is-active p {
  font-weight: 700;
}

.books-gallery .splide__slide.is-active .gallery-image-container {
  box-shadow: -3.75px -3.75px 11.25px 0.75px #FFFFFF, 3.75px 3.75px 11.25px rgba(0, 0, 0, 0.25);
}


.books-gallery .splide__slide p {
  transition: font-weight 0.25s ease-in;
}



.books-gallery-image-container {
  position: relative;
  border-radius: 20px;
  transition: box-shadow 0.25s ease-in;
}

.books-gallery-image-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.books-gallery-image-container:before {
  content: "";
  padding-top: 114.2%;
  display: block;
  /* width: 100%; */
}

.books-gallery .splide__track {
  padding-top: 60px;
  padding-bottom: 50px;
}


.testimonials-carousel .splide__track {
  padding-top: 55px;
  padding-bottom: 77px;
}

.testimonials-text {
  position: relative;
}

.testimonials-text:before {
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  top: 0;
  left: -34px;
  background: url('../public/open-quote.svg') no-repeat center/contain;
}

.testimonials-text:after {
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  bottom: 0;
  right: -34px;
  background: url('../public/close-quote.svg') no-repeat center/contain;

}

.testimonials-btn:hover p {
  color: #AEC670;
}

.testimonials-btn:first-child span{
  box-shadow: 2.5px 2.5px 7.5px rgba(0, 0, 0, 0.25), -2.5px -2.5px 7.5px #FFFFFF;
}

.testimonials-btn:not(:first-child) img{
  filter: drop-shadow( 2.5px 2.5px 7.5px rgba(0, 0, 0, 0.25)) drop-shadow(-2.5px -2.5px 7.5px #FFFFFF);
}

.testimonials-review-container:before {
  content: "";
  width: 31px;
  height: 31px;
  position: absolute;
  background: url("../public/icon-comment-add.svg") no-repeat center/contain;
  right: 13px;
  bottom: 42.5px;
}

.order-steps li{
  position: relative;
  z-index: 2;
  transition: background-color 0.25s ease-in;
}

.order-steps:before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #AEC670;
  height: 6px;
  z-index: 0;
}


#order-steps-tooltip,
#rotors-tooltip {
  z-index: 50;
  padding: 0;
  background: rgba(255, 255, 255, 0.3);
/* green natural */
  border: 1px solid #AEC670;
  box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.15), inset 0px 0px 60px rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 10px;
  z-index: 99;
}

.order-steps-tooltip-text {
  font-size: 0.875rem;
}


.order-button {
  box-shadow: inset 0px 3px 3px rgba(255, 255, 255, 0.15), inset 0px 0px 45px rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(11.25px);
/* Note: backdrop-filter has minimal browser support */
  border-radius: 15px;
}

.order-button .rotor {
  width: 151px;
  height: 151px;
  background-color: #F3E8D3;
  border-radius: 50%;
  box-shadow: 2.12838px 2.12838px 6.38514px rgba(0, 0, 0, 0.25), -2.12838px -2.12838px 6.38514px 0.425676px #FBF5E9;
}

.order-button .rotor:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 96.68%;
  height: 96.68%;

  background: linear-gradient(152.47deg, #AEC670 11.93%, #D6F28D 38.66%, #AADDD7 55.04%, #9882AC 83.06%);
  box-shadow: inset 1.875px 1.875px 5.625px 0.375px #868A7B;
  border-radius: 50%;
  z-index: 1;
}

.order-button:first-child .rotor:before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.order-button:last-child .rotor:before {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.order-button .rotor:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 77%;
  height: 77%;
  background: #F3E8D3;
  box-shadow: 0.75px 0.75px 3px rgba(38, 38, 38, 0.2); 
  border-radius: 50%;
  z-index: 1;
}

.order-button:first-child .rotor{
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.order-button:last-child .rotor{
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.order-button .icon {
  box-shadow: 1.875px 1.875px 5.625px rgba(0, 0, 0, 0.25), -1.875px -1.875px 5.625px 0.375px #FFFFFF;
  border-radius: 15px;
  width: 72px;
  height: 66px;
  transition: background-color 0.25s ease-in;
}

.order-button:hover .icon{
  background-color: #AEC670;
}


.faq-answer:before {
  content: '';
  position: absolute;
  width: calc(100% + 2px);
  height: 53px;
  background-color: #FBF5E9;
  top: 0;
  left: -2px;
  z-index: -1;
  border-radius: 0 20px 20px 0;
}

.faq-answer:after {
  content: '';
  position: absolute;
  width: calc(100% + 2px);
  height: 20px;
  background-color: #FBF5E9;
  bottom: -20px;
  right: -1px;
  z-index: -1;
  border: 1px solid #232323;
  border-top: none;
  border-radius: 0 0 20px 20px;
}


.testimonials-carousel .splide__slide:before {
  content: '';
  position: absolute;
  left: 37.5px;
  bottom: -45px;
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 45px solid #FBF5E9;
  filter: drop-shadow(3px 3px 2px rgba(38,38,38,0.2));
}

.testimonials-carousel .splide__track {
  margin-right: 21px;
  margin-left: 21px;
}

.testimonials-carousel .splide__arrow {
  width: 44px;
  height: 240px;
  background-color: #9882AC;
  border-radius: 20px 0 0 20px;
  opacity: 1;
  outline: none!important;
  box-shadow: 1px 1px 4px rgba(38, 38, 38, 0.2);
  transition: background-color 0.25s ease-in;
}

.books-gallery .splide__arrow {
  background-color: #9882AC;
  opacity: 1;
  outline: none!important;
  transition: background-color 0.25s ease-in;
  width: 60px;
  height: 60px;
}

.testimonials-carousel .splide__arrow.splide__arrow--prev {
  border-radius: 0px 20px 20px 0px;
}

.books-gallery .splide__arrow:hover,
.testimonials-carousel .splide__arrow:hover {
  opacity: 1;
  background-color: #AEC670;
}

.books-gallery .splide__arrow svg {
  width: 15px;
  height: 30px;
  fill: #FBF5E9;
  transition: fill 0.25s ease-in;
}

.testimonials-carousel .splide__arrow svg {
  width: 25px;
  height: 44px;
  fill: #FBF5E9;
  transition: fill 0.25s ease-in;
}

.rodal .rodal-mask {
  position: fixed;
  cursor: pointer;
}

.rodal  {
  padding: 50px 10px;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-duration: 0s!important;
  backdrop-filter: blur(15px);
}

.rodal-dialog {
  position: relative;
  border: 1px solid #AEC670;
  box-shadow: 1px 1px 4px rgba(38, 38, 38, 0.2);
  background: #FFFFFF;
  border-radius: 30px;
  padding: 30px;
  animation-duration: 0s!important;
  /* height: auto!important; */
}

.close-tooltip:after,
.close-tooltip:before {
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #999;
  border-radius: 100%;
  transition: background 0.2s;
}

.close-tooltip:after {
  transform: rotate(-45deg);
}
.close-tooltip:before {
  transform: rotate(45deg);
}

.rodal-close {
  top: 19px;
  right: 31px;
  width: 19px;
  height: 19px;
}

.close-tooltip {
  top: 10px;
  right: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
  cursor: pointer;
}

.close-tooltip:after,
.close-tooltip:before,
.rodal-close:after,
.rodal-close:before {
  height: 1px;
  background: #9882AC;
}
.close-tooltip:hover:after,
.close-tooltip:hover:before,
.rodal-close:hover:before,
.rodal-close:hover:after {
  background: #FF3030;
}


.showTestimonialsPopup .rodal-dialog {
  height: 530px!important;
  width: 410px!important;
}

.showTestimonialsPopup .rodal-dialog:before {
  content: '';
  position: absolute;
  left: 37.5px; 
  bottom: -45px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 45px solid #ffffff;
  filter: drop-shadow(3px 3px 2px rgba(38,38,38,0.2));
}

.showTestimonialsThanksPopup .rodal-dialog {
  height: 178px!important;
  width: 536px!important;
  padding: 40px 30px;
  border-radius: 20px;
}


.showFailPopup .rodal-dialog,
.showOrderThanksPopup .rodal-dialog {
  height: 333px!important;
  width: 530px!important;
  border-radius: 20px;
}

.showFailPopup .rodal-dialog {
  border-color: #FF3030;
}

.showOrderWithoutFilePopup .rodal-dialog,
.showOrderWithFilePopup .rodal-dialog {
  width: 338px!important;
  height: 700px!important;
  border-radius: 20px;
  background: url("../public/openbook.png") no-repeat center 82%/contain, #FFFFFF;
  padding-top: 50px;
  padding-left: 24.5px;
  padding-right: 24.5px;
  padding-bottom: 25px;
}

.showFailPopup .rodal-close,
.showOrderThanksPopup .rodal-close,
.showTestimonialsThanksPopup .rodal-close {
  display: none;
}

.showBurgerMobilePopup .rodal-dialog,
.showBurgerTabletPopup .rodal-dialog{
  width: 211px!important;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  height: auto!important;
}

/* textarea::-moz-placeholder, */
/* textarea::-webkit-textarea-placeholder, */
.textarea::placeholder {
  text-align: center;
  color: #B1B1B1;
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.input::placeholder {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.1em;
  color: #777777;
  text-align: center;
}

.text-danger {
  line-height: 1;
  font-size: 14px;
  color: #FF3030;
}

.popup-btn-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 50px;
  width: 100%;
  max-width: 347px;
  background: #AEC670;
  box-shadow: 3.75px 3.75px 11.25px rgba(0, 0, 0, 0.25), -3.75px -3.75px 11.25px 0.75px #FFFFFF;
  border-radius: 10px;
  transition: 0.25s ease-in;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  color: #111111;
}

.popup-btn-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 50px;
  width: 100%;
  max-width: 347px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  transition: 0.25s ease-in;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  color: #FF3030;
  border: 1px solid #FF3030;
}

.popup-btn-1:hover {
  background: #9882AC;
  color: #FBF5E9;
}

.popup-btn-2:hover {
  background: #FF3030;
  color: #FBF5E9;
}

.popup-btn-1:active {
  box-shadow: inset 5px 5px 15px 1px #868A7B;
  background: #AEC670;
}

.popup-btn-1:disabled {
  box-shadow: unset;
  pointer-events: none;
  background: #D9D9D9;
  color: #F0F0F0;
}

.popup-select .popup__control{
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #AEC670;
  border-radius: 20px;
}

.popup-select .popup__indicator-separator {
  display: none;
}

.popup-select .popup__indicator {
  padding-right: 17px!important;
}

.popup-select .popup__single-value {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  color: #262626;
  max-width: 75px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.popup-select.order-popup-select {
  max-width: 95px;
}

.popup-select.order-popup-select-2 {
  max-height: 33px;
}

.order-popup-select-2-option {
  display: flex!important;
}

.popup-select.order-popup-select-2 .popup__control,
.popup-select.order-popup-select .popup__control{
  border-color: #262626;
  min-height: 33px;
}

.popup-select.order-popup-select-2 .popup__control.popup__control--menu-is-open,
.popup-select.order-popup-select .popup__control.popup__control--menu-is-open{
  border-color: #AEC670;
  min-height: 33px;
}


.popup-select.order-popup-select .popup__indicator {
  padding: 5px 8px;
}

.popup-select.order-popup-select .popup__input-container {
  padding-top: 0;
  padding-bottom: 0;
}

.popup-select.order-popup-select .popup__single-value{
  font-family: 'Alumni Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;  
}

.popup-select.order-popup-select .popup__menu-list .popup__option {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: #262626;
}


.popup-select.testimonials-popup-select .popup__menu,
.popup-select.order-popup-select .popup__menu,
.popup-select.order-popup-select-2 .popup__menu {
  margin-top: 0;
  background: #FBF5E9;
/* green natural */
  border: 1px solid #AEC670;
  /* glass */
  box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.15), inset 0px 0px 60px rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.popup-select.order-popup-select-2 .popup__menu-list {
  padding-top: 0;
  padding-bottom: 0;
}

.popup-select.testimonials-popup-select .popup__option,
.popup-select.order-popup-select-2 .popup__option,
.popup-select.order-popup-select .popup__option {
  background-color: transparent;
  cursor: pointer;
}

.popup-select.testimonials-popup-select .popup__control,
.popup-select.order-popup-select .popup__control,
.popup-select.order-popup-select-2 .popup__control {
  box-shadow: unset;
  transition-duration: 0ms;
}

.popup-select.testimonials-popup-select .popup__control {
  padding: 0 12px;
}
.popup-select.testimonials-popup-select .popup__indicator {
  padding-left: 2px;
}

.popup-select.testimonials-popup-select .popup__indicator svg {
  transform: rotate(90deg);
  max-height: 19.5px;
  max-width: 11.25px;
  fill: #9882AC;
}

.popup-select.testimonials-popup-select .popup__control.popup__control--menu-is-open .popup__indicator svg{
  transform: rotate(270deg);
  fill: #AEC670;
}

.popup-select.testimonials-popup-select .popup__control:hover {
  border-color: #AEC670;
  box-shadow: unset;
}

.popup-select.testimonials-popup-select .popup__control.popup__control--menu-is-open,
.popup-select.order-popup-select .popup__control.popup__control--menu-is-open,
.popup-select.order-popup-select-2 .popup__control.popup__control--menu-is-open {
  background: #FBF5E9;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.popup-select.order-popup-select .popup__indicator svg,
.popup-select.order-popup-select-2 .popup__indicator svg{
  fill: #262626;
}

.popup-select.order-popup-select .popup__control.popup__control--menu-is-open .popup__indicator svg,
.popup-select.order-popup-select-2 .popup__control.popup__control--menu-is-open .popup__indicator svg{
  fill: #AEC670;
  transform: rotate(180deg);
}

.popup-select.order-popup-select .popup__control.popup__control--menu-is-open .popup__single-value,
.popup-select.testimonials-popup-select .popup__control.popup__control--menu-is-open .popup__single-value {
  color: #AEC670;
}

.popup-select.order-popup-select-2 .popup__control.popup__control--menu-is-open .popup__placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.2em;
  color: #AEC670;
  padding-top: 6px;
  padding-bottom: 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.popup-select.order-popup-select-2 .popup__control .popup__placeholder {
  font-family: 'Roboto Condensed';
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #262626;
}

.popup-select.order-popup-select-2 .popup__control.popup__control--menu-is-open .popup__placeholder {
  font-family: 'Alumni Sans';
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.popup-select.order-popup-select-2 .popup__menu-list .popup__option {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.2em;
    color: #111111;
    padding-top: 6px;
    padding-bottom: 6px;
    transition: 0.25s color ease-in;
    cursor: pointer;
}

.popup-select.testimonials-popup-select .popup__menu-list .popup__option {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: #262626;
  cursor: pointer;
  transition: 0.25s color ease-in;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.popup-select.testimonials-popup-select .popup__menu-list .popup__option:hover{
  color: #AEC670;
}


.popup-select.order-popup-select-2 .popup__menu-list .selected-option.popup__option p{
  color: #AEC670;
}

.quantity-input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #AEC670;
  border-radius: 20px;
  font-weight: 600;
  letter-spacing: 0.2em;
  outline: none;
  width: auto;
}

.calculator-table .quantity-input {
  padding: 15px 2px;
  /* width: 45px; */
  height: 49px;
}

.quantity-input-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.quantity-input-container svg {
  fill: #9882AC;
}

.quantity-input-container button:first-child svg{
  transform: rotate(180deg);
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  width: 15px;
  height: 15px;
  min-width: 15px;
  border: 2px solid #262626;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: flex;
  justify-content: center;
  align-items: center;
}


input[type="radio"]::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #262626;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.dropzone.disabled {
  background-color: #D9D9D9!important;
}

.react-tooltip {
  font-size: 100%;
}

@media screen and (min-width: 768px) {
  .rotor-carousel .splide__list {
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -26px!important;
  }


  .order-steps-carousel .splide__list{
    display: flex!important;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
  }

  .rotor-carousel .splide__track, .order-steps-carousel  .splide__track{
    overflow: visible;
  }

  .order-steps-carousel .splide__track, .order-steps-carousel .splide__list {
    height: 100%;
  }

  .order-steps-carousel .splide__slide {
    flex-shrink: 1;
  }

  .rotor-carousel .splide__slide {
    /* flex-basis: 33.3%; */
    flex-grow: 1;
  }

  .rotor-carousel .splide__slide.buttons-slide {
    flex-basis: 100%;
  }

  .order-steps li:not(.clue-inner-item) {
    box-shadow: 2.83784px 2.83784px 8.51351px rgba(0, 0, 0, 0.25), -2.83784px -2.83784px 8.51351px 0.567568px #FBF5E9;
  }

  .order-steps li:hover:not(.clue-inner-item) {
    background-color: #AEC670;
  }
  

}


@media screen and (max-width: 991px){
  .testimonials-carousel .splide__slide:not(.is-active) {
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(15px);
    z-index: 2;
    box-shadow: unset;
  }

  .testimonials-carousel .splide__slide:not(.is-visisble) {
    opacity: 0;
  }

  .testimonials-carousel .splide__slide {
    position: relative;
    transition: opacity 0.5s ease-in;
  }

  .testimonials-carousel .splide__slide.is-active {
    z-index: 5;
    opacity: 1;
  }

  .testimonials-carousel .splide__slide.is-next, .testimonials-carousel .splide__slide.is-prev{
    z-index: 3;
    opacity: 1;
  }

  .books-gallery .splide__arrows,
  .testimonials-carousel .splide__arrows {
    display: none;
  }

  .testimonials-carousel .splide__track {
    margin-right: 0;
    margin-left: 0;
  }

  .testimonials-carousel .splide__slide:not(.is-active):before {
    border-top-color: rgba(255,255,255,0.3);
  }


  .faq-answer {
    left: -1px;
    width: calc(100% + 2px);
    top: 100%;
    border-top-right-radius: 0;
    z-index: 1;
  }

  .faq-answer:before {
    display: none;
  }

  .books-gallery .splide__slide.is-active{
    margin-right: -80px!important;
    margin-left: 0;
  } 

  .books-gallery .splide__list {
    position: static;
    left:0;
  }

  .books-gallery .splide__slide p {
    transition: opacity 0.25s ease-in;
  }

  .books-gallery .splide__slide:not(.is-active) p{
    opacity: 0;
 
  }

  .books-gallery .splide__slide.is-next, .books-gallery .splide__slide.is-prev {
    z-index: 3;
  }

  .books-gallery .splide__slide.is-next + .splide__slide {
    z-index: 2;
  }

  .books-gallery .splide__slide.is-next + .splide__slide + .splide__slide{
    z-index: 1;
  }

  .calculator-table-container {
    width: calc(100% - 50px);
    border-radius: 0;
  }

  .calculator-table-container .calculator-table-opener svg {
    fill: #FBF5E9;
    transition: fill 0.25s ease-in;
  }

  .calculator-table-container .calculator-table-opener:hover svg {
    fill: #AEC670;
  }

  .calculator-table:before  {
    content: "";
    position: absolute;
    width: 4px;
    background: rgba(255, 255, 255, 0.3);
    /* volume circle skin */
    top: 50%;
    box-shadow: 2.83784px 2.83784px 8.51351px rgba(0, 0, 0, 0.25), -2.83784px -2.83784px 8.51351px 0.567568px #FBF5E9;
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100% - 24px);

  }

  .quantity-input-container {
    justify-content: flex-end;
  }

  .order-button:first-child .rotor {
    top: 0;
    right: unset;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .order-button:last-child .rotor {
    top: 0;
    right: unset;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .order-button {
    width: 230px;
  }

  .order-button .rotor {
    width: 195px;
    height: 195px;
  }

  .order-button .icon {
    width: 96px;
    height: 88px;
  }
}

@media screen and (max-width: 767px) {

  .calculator {
    height: calc(100vh - 88px);
  }

  .rotor-carousel .splide__pagination .splide__pagination__page {
    background: rgba(255, 255, 255, 0.3);
    width: 12px;
    height: 12px;
    margin-left: 5px;
    margin-right: 5px;

  }

  .rotor-carousel .splide__pagination .splide__pagination__page.is-active {
    background-color: #AEC670;
    transform: unset;
  }

  .order-steps {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .order-steps:before {
    content: none;
  }

  .order-steps {
    padding: 0 10px;
  }


  .order-steps-carousel:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 48px;
    background: linear-gradient(133.73deg, #E0C89A -0.12%, #FFF0D3 83.75%);
    box-shadow: 3.12162px 3.12162px 9.36487px rgba(0, 0, 0, 0.25), -3.12162px -3.12162px 9.36487px #FBF5E9;
    border-radius: 22px 22px 0px 0px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
  }

  .order-steps-carousel:after {
    content: '';
    position: absolute;
    background: linear-gradient(133.73deg, #f0ddb8 -0.12%, #f4e2bf 83.75%);
    box-shadow: 3.12162px 3.12162px 9.36487px rgba(0, 0, 0, 0.25), -3.12162px -3.12162px 9.36487px #FBF5E9;
    border-radius: 30px 30px 0 0;
    width: 60px;
    height: 33px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  .order-steps-carousel .splide__list {
    justify-content: space-between;
    align-items: flex-end;
  }
  

  .order-steps-carousel .splide__track {
    height: 81px;
  }

  .order-steps-carousel .splide__slide {
    height: 48px;
    bottom: 0;
    transition: all 0.25s ease-in;
    pointer-events: none;
  }

  .order-steps-carousel .splide__slide.is-active {
    transform: translateY(-37px);
    pointer-events: none;
  }

  .order-steps-tooltip-container {
    position: relative;
    transition: all 0.25s ease-in;
    min-height: 44px;

    border-radius: 0px 0px 22px 22px;

  }

  .order-steps-tooltip-container:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;z-index: -1;
    backdrop-filter: blur(16.5px);
    background: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 4.4px 4.4px rgba(255, 255, 255, 0.15), inset 0px 0px 66px rgba(255, 255, 255, 0.05);
    z-index: 0;
  }

  #order-steps-tooltip-order-with-file,
  #order-steps-tooltip-order-without-file,
  #order-steps-tooltip {
    position: static;
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    border: unset;
    box-shadow: unset;
    backdrop-filter:unset;
  /* Note: backdrop-filter has minimal browser support */
    border-radius: unset;
    padding: 50px;
    opacity: 1;
  }

  #order-steps-tooltip-order-with-file,
  #order-steps-tooltip-order-without-file {
    color: #262626;
    padding: 16px 25px;
    padding-top: 0px;
    pointer-events: all!important;
  }

  #order-steps-tooltip-order-with-file input:not(:disabled),
  #order-steps-tooltip-order-without-file input:not(:disabled) {
    background-color: rgba(255,255,255,0.3);
  }

.popup-select.order-popup-select-2 .popup__control,
.popup-select.order-popup-select .popup__control{
  min-height: 36px;
}

.popup-select.order-popup-select-2 .popup__control.popup__control--menu-is-open,
.popup-select.order-popup-select .popup__control.popup__control--menu-is-open{
  min-height: 36px;
}

.popup-select.order-popup-select .popup__single-value{
  font-weight: 600;
}


  .showTestimonialsPopup .rodal-dialog {
    height: 530px!important;
    width: 342px!important;
  }

  .showTestimonialsThanksPopup .rodal-dialog {
    height: 202px!important;
    width: 333px!important;
    padding: 40px 15px;
  }

  .showFailPopup .rodal-dialog,
  .showOrderThanksPopup .rodal-dialog {
    height: 386px!important;
    width: 333px!important;
  }




  .order-button {
    max-width: 214px;
    max-height: 170px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .order-button:first-child {
    margin-top: 93px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
  }

  .order-button:last-child {
    margin-bottom: 93px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 10px;
  }

  .order-button:first-child .rotor {
    top: 0;
    right: unset;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .order-button:last-child .rotor {
    top: unset;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    
  }

  .rotor-carousel .splide__pagination {
    bottom: 92px;
  }

  .rotor-carousel[data-current-slide="buttons-slide"] .splide__pagination,
  .rotor-carousel[data-current-slide="table-slide"] .splide__pagination
  {
    bottom: 0;
  }

  .rotor-carousel[data-current-slide="buttons-slide"] {
    /* padding-top: 80px; */
    padding-bottom: 34px;
  }

  .rotor-carousel[data-current-slide="table-slide"] {
    /* padding-top: 120px; */
    padding-bottom: 34px;
  }

  .rotor-carousel{
    padding-top: 80px;
  }

  .calculator-table-container {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 5.2px 5.2px rgba(255, 255, 255, 0.15), inset 0px 0px 78px rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(19.5px);
    border-radius: 26px;
  }

  .calculator-table {

    /* Note: backdrop-filter has minimal browser support */
    /* padding: 13px; */
    
    overflow-y: auto;
    padding-right: 22px;
  }

  .calculator-table:before {
    display: none;
  }

  .calculator-table .quantity-input {
    padding: 13px 2px;
    /* width: 45px; */
    height: 44px; 
  }

  .clue-info-icon {
    margin-right: 28px;
    width: 39px;
    height: 39px;
  }

  .order-button .rotor {
    width: 180px;
    height: 180px;
  }

 .calculator-table::-webkit-scrollbar-track
  {
    border-radius: 18px;
    background-color:#FBF5E9;
  }

  .calculator-table::-webkit-scrollbar
  {
    width: 19px;
    background-color:#FBF5E9;
  }

  .calculator-table::-webkit-scrollbar-thumb
  {
    border-radius: 19px;
    background-color: #F4E1BF;
  }

  .quantity-slide .quantity-input-container{
    justify-content: center;
  }

  .quantity-slide .quantity-input-container .quantity-input {
    font-size: 24px;
    font-weight: 700;
    padding: 22.5px 0;
    border-radius: 30px;
  }

  .quantity-slide .quantity-input-container svg{
    width: 22.5px;
    height: 52.5px;
  }

  .order-steps-tooltip-text {
    font-size: 1rem;
  }
}